{% extends 'base.html' %}

{% block title %}IPA Hangman{% endblock %}

{% block header %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}">
<a href="{{ url_for('index') }}" class="box-url">IPA Hangman</a>

{% endblock %}


{% block content %}
<style>
    .box {
        background-color: #ccc; /* Light grey background */
        /*padding: 20px; /* White padding inside the boxes */
        margin-bottom: 20px; /* Space between the boxes */
        margin-left: 10px;
        margin-right: 10px;
        color: #333; /* Text color */
        /*text-align: center; /* Center-align the text */
        height: 150px; /* Set a fixed height for demonstration */
    }
    .top-boxes {
        display: flex; /* Use flexbox to create a horizontal layout */
    }
    .canvas-box {
        padding: unset;
    }
    .top-box {
        height: 500px;
        flex: 1; /* Each box takes equal width */
    }
    .vert-box {
        padding: 20px;
        height: unset;
        display: flex;
        flex-wrap: wrap;
    }
.letter {
        margin-right: 5px; /* Adjust as needed */
        /* font-family: monospace; */
        font-size: xx-large;
        font-family: 'Noto Serif', serif;
    }
    .keyboard {
        display: flex;
        flex-wrap: wrap;
        border: 10px solid;
        border-color: #ccc;
    }
    .keyboard-box {
        display: flex;
        height:auto;
        padding: 6px;
    }
    .key {
        display: flex;
        align-items: center;
        align-items: center;
        justify-content: center;
        border: 8px solid;
        background-color: #ccc;
        width: 55px;
        height: 70px;
        margin-left: -8px;
        margin-top: -8px;
        font-size: larger;
        cursor: pointer;
        border-color: #f4f4f9;
    }
    .key-letter {
        text-align: center;
        font-size: larger;
        font-family: 'Noto Serif', serif;
        /*background-color: #ccc; /* Light grey background */

    }
    .guess-box {
        padding: 10px;
        /* width: 20px; */
        height: 40px;
        display: flex;

    }
</style>
<div class="top-boxes">
    <div class="box top-box canvas-box">
        <canvas id="canvas1" width="400" height="500"></canvas>
    </div>
    <div class="top-box" style="display: flex; flex-direction: column;">
        <div class="box vert-box">
            <div id="result">
            </div>
        </div>
        <div class="box vert-box" id="hint">
        </div>
        <div class="box vert-box" style="flex: 1; margin-bottom: unset;">
            <span class="letter" id="placeholder">wrong letters go here ...</span>
            <div id="wrong-guesses">
            </div>
        </div>
    </div>
</div>

<div class="box keyboard-box">
    <!-- Keyboard UI -->
    <div class="keyboard vert-box" style="justify-content: center">
        {% for letter in 
            
    ['ɪ', 'ə', 't', 'n', 's', 'ɹ', 'l', 'k',
     'd', 'i', 'm', 'p', 'ɛ', 'ʊ', 'æ', 'b',
     'a', 'f', 'e', 'z', 'ʃ', 'ɒ', 'ʌ', 'ɡ',
     'ŋ', 'u', 'v', 'ɑ', 'ɔ', 'ʒ', 'w', 'j',
     'h', 'o', 'ɜ', 'θ', 'ɚ', 'r', 'ɝ', 'ð', 'ɫ']
            
            %}
        <div class="key" onclick="addLetter('{{ letter }}')" id="'{{ letter }}'">
            
            <div class="key-letter"> {{ letter }} </div>
        
        </div>
        {% endfor %}
    </div>
</div>
<script>

    var sofar = JSON.parse('{{ sofar | tojson }}');
    var wrongGuesses = [];
    var maxWrong = 6;

    function giveUp() {
        fetch('/giveup', {
            method: 'POST'
        }).then(response => response.json())
        .then(data => {
            drawPlaceholder(data.result);

        }) 
    };
    
    function addLetter(letter) {
        // currentGuess += letter;
        // var elem = document.getElementById('displayGuess');
        fetch('/guess', {
        method: 'POST',
        body: JSON.stringify({
            letter: letter,
        })
    })
    .then(response => response.json())
    .then(data => {
        var locs = data["locs"];
        
        if (wrongGuesses.length >= maxWrong) {
            return;
        }
        
        if (locs.length == 0) {
            if (wrongGuesses.includes(letter)) {
                return;
            }

            wrongGuesses.push(letter);

            if (wrongGuesses.length == maxWrong) {
                giveUp();
            }
            var elem = document.getElementById('placeholder');
            elem.innerHTML = ""; // remove the "Wrong:" text
            fillWithLetters("wrong-guesses",wrongGuesses);
            drawStickMan(wrongGuesses.length);
        } else {
            data["locs"].forEach((loc) => {
                sofar[loc[0]][loc[1]] = letter;
            });
            drawPlaceholder(sofar);
        }
    }
    );
}
</script>

        <script>
            function drawStickMan(wrong_guesses) {
            var canvas = document.getElementById('canvas1');
            var ctx = canvas.getContext('2d');
            ctx.clearRect(0, 0, canvas.width, canvas.height);

            function drawLine(x1, y1, x2, y2) {
                ctx.moveTo(x1, y1);
                ctx.lineTo(x2, y2);
            }

            
            ctx.beginPath();
            ctx.strokeStyle = 'black';
            ctx.lineWidth = 3;

            // gallows
            drawLine(0, 450, 500, 450);
            drawLine(50, 450, 50, 50);
            drawLine(50, 50, 200, 50);
            drawLine(200, 50, 200, 100);
            ctx.stroke();
            ctx.beginPath();


            var steps = [
                () => {
                    ctx.arc(200, 150, 50, 0, 2 * Math.PI); // head
                },
              () => {
            drawLine(200, 200, 200, 300); // body
              },
          () => { drawLine(200, 200, 150, 250); // left arm
          },
          () => { drawLine(200, 200, 250, 250); // right arm
          },
          () => { drawLine(200, 300, 150, 375); // left leg
          },
          () => { drawLine(200, 300, 250, 375); // left right

              }
            ]


            for (var i = 0; i < wrong_guesses; i++) {
                steps[i]();

            }

            if (wrong_guesses >= steps.length) {
                // draw dead eyes
                drawLine(175, 130, 190, 145);
                drawLine(190, 130, 175, 145);

                drawLine(225, 130, 210, 145);
                drawLine(210, 130, 225, 145);
            }


            ctx.stroke();

            }
            drawStickMan(0);

        function drawPlaceholder(l) {
            var r = document.getElementById("result");
            r.replaceChildren([]);

            for (var i = 0; i < l.length; i++) {
                for (var j = 0; j < l[i].length; j++) {
                    console.log(l[i][j]);
                    var letter = document.createElement("what");
                    letter.className = "letter";
                    letter.innerText = l[i][j];
                    r.appendChild(letter);
                }
                var letter = document.createElement("what");
                letter.className = "letter";
                letter.innerText = " ";
                letter.style.width = "10px";
                // letter.style.display = "inline-block";
                r.appendChild(letter);
            }
        }
        drawPlaceholder(JSON.parse('{{ sofar | tojson }}'));

        function fillWithLetters(id, l) {
            console.log(l);
            var r = document.getElementById(id);
            r.replaceChildren([]);

            l.forEach((l) => {
                var letter = document.createElement("what");
                letter.className = "letter";
                letter.innerText = l;
                r.appendChild(letter);
            }
        
        );
        }

        fillWithLetters("hint", JSON.parse('{{ hint | tojson }}'));
        </script>
{% endblock %}